.aboveTheFold__container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.aboveTheFold{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
}

.aboveTheFold__leftContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.aboveTheFold__leftContainer__splashBackground{
    object-fit: contain;
    max-width: 80%;
}

.aboveTheFold__leftContainer__stars1{
    position: absolute;
    object-fit: contain;
    max-width: 25em;
}

.aboveTheFold__leftContainer__stars2{
    position: absolute;
    object-fit: contain;
    max-width: 25em;
}

.aboveTheFold__leftContainer__lostMan{
    position: absolute;
    object-fit: contain;
    max-width: 25em;
}


.aboveTheFold__rightContainer{
    display: flex;
    justify-content: center;
    width: 50%;
    flex-direction: column;
}

.aboveTheFold__rightContainer__headline{
    font-size: 60px;
}

.aboveTheFold__rightContainer__subline{
    font-size: 30px;
    padding-left: 3px;
}

.aboveTheFold__rightContainer__subline__highlight{
    color: #6c63ff; 
}

@media screen and (max-width: 1130px){

    .aboveTheFold{
        width: 80%;
    }

    .aboveTheFold__leftContainer__splashBackground{
        object-fit: contain;
        min-width: 80%;
    }
    
    .aboveTheFold__leftContainer__stars1{
        min-width: 40%;
    }
    
    .aboveTheFold__leftContainer__stars2{
        min-width: 40%;
    }
    
    .aboveTheFold__leftContainer__lostMan{
        min-width: 40%;
    }
    

    .aboveTheFold__rightContainer__headline{
        font-size: 5vw;
    }

    .aboveTheFold__rightContainer__subline{
        font-size: 3vw;
    }

    .aboveTheFold{
        width: 100%;
    }

    .aboveTheFold__rightContainer{
        padding-left: 30px;
        
    }
}