.workwithus{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #3f3d56;
    width: 100%;
    min-height: 250px;
    padding-bottom: 20px;
}

.workwithus__header{
    font-weight: 500;
    color: #fff;
    margin-bottom: 25px;
    margin-top: 25px;
}

.workwithus__innerContainer{
    display: flex;
    width: 100%;
    max-width: 1000px;
}

.workwithus__leftContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
    
}

.workwithus__rightContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.workwithus__rightContainer__button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 60px;
    animation: blinky 5s linear infinite;
    border-radius: 10px;
    cursor: pointer;
}

@keyframes blinky {
    0% { 
        background-color: #ff6584; 
    }
    50% { 
        background-color: #6c63ff; 
    }
    100% { 
            background-color: #ff6584; 
        }
}

.workwithus__rightContainer__form{
    display: none;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
}

.workwithus__rightContainer__form__label {
    display: flex;
    flex-direction: column;
    color: white;
}

.workwithus__message__highlight{
    color: #ff6584;
    padding-left: 4px;
    padding-right: 4px;
    width: fit-content;
}

.workwithus__message{
    display: flex;
    width: fit-content;
    color: white;
}

/* .workwithus__message > span{
    font-size: 1.5vw;
} */

.workwithus__rightContainer__form__input{
    height: 35px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid #fff;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-left: 12px;
}

.workwithus__rightContainer__form__message{
    min-height: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 1px solid #fff;
    box-sizing: border-box;
    padding-left: 12px;
    padding-top: 12px;
}

.workwithus__rightContainer__form__button{
    height: 50px;
    border-radius: 250px;
    border: none;
    animation: blinky 5s linear infinite;
    cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.workwithus__rightContainer__form__closeContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    color: white;
}

.workwithus__rightContainer__form__closeContainer__close{
    cursor: pointer;
}

.workwithus__message__nowrap{
    white-space: nowrap;
    width: fit-content;
}

@media screen and (max-width: 1130px){
    .workwithus__message > span{
        font-size: 1.5vw;
    }

    .workwithus{
        min-height: auto;
        padding-bottom: 20px;
    }
}